$headerBackground: $colorPrimary
$headerContainerPadding: 12px 0
$headerNavFonts: $mainFontSize + 2px
$headerNavLineHeight: $mainLineHeight
$headerNavColor: $colorTertiary
$headerNavColorHover: $colorSecondary

.header
  position: fixed
  top: 0
  left: 0
  background-color: transparent
  padding: $headerContainerPadding
  width: 100% !important
  z-index: 10
  @include transition
  &.scroll
    background-color: $headerBackground
  &-container
    position: relative
  .container
    display: flex
    align-items: center
    height: 100%
    justify-content: space-between
  &-mobile
    @include mediaMinWidthDesktop
      margin-left: auto
      margin-right: 60px
      @include hd-desktop
        margin-right: 30px
    @include mediaMaxWidthDesktop
      border-top: 1px solid $colorTertiary
      position: fixed
      left: 0
      right: 0
      top: 70px
      bottom: 100%
      overflow: hidden
      visibility: hidden
      opacity: 0
      overflow-y: auto
      width: 100%
      @include transition
      @include mediaMaxWidthDesktop
        top: 80px
      &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(253, 208, 59, 0.7)
        backdrop-filter: blur(20px)
        z-index: -1
      &__block
        background-color: $headerBackground
  &-info
    &__container
      display: flex
      align-items: center
      margin: 0 -32px
      @include mediaMaxWidthDesktop
        margin: 0 -8px
    &__block
      padding: 0 32px
      @include mediaMaxWidthDesktop
        padding: 0 8px
      .btn
        @include mediaMinWidthTabMobile
          .fa
            display: none
        @include mediaMaxWidthTabMobile
          padding: 8px 12px
          border-radius: 50%
          span
            display: none
    @include mediaMaxWidthDesktop
  &.active
    .nav-toggle
      &__link
        width: 0
        &:nth-child(1)
          width: 100%
          transform: translateY(6px) rotate(45deg)
        &:nth-child(3)
          width: 100%
          transform: translateY(-6px) rotate(-45deg)
    .header
      &-mobile
        bottom: 0
        visibility: visible
        opacity: 1
  &-nav
    &__container
      @include mediaMaxWidthDesktop
        padding: 60px 15px
        max-width: 95%
        margin: 0 auto
      @include mediaMaxWidthTabMobile
        padding: 30px 15px
  .logo
    @include mediaMaxWidthDesktop
      max-width: 200px
// Логотип
.logo
  .logo__link
    height: 100%
    display: block
    text-decoration: none
    text-transform: uppercase
    font-size: $mainFontSize + 14
    line-height: $mainLineHeight + 17
    color: $headerNavColor
    span
      color: $colorSecondary
    @include hd-desktop
      font-size: $mainFontSize + 10
      line-height: $mainLineHeight + 11
    @include desktop
      font-size: $mainFontSize + 6
      line-height: $mainLineHeight + 7

// Вызов мобильного меню
.nav-toggle
  display: flex
  width: 24px
  height: 24px
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 10
  cursor: pointer
  &__block
    display: flex
    align-items: center
  @include mediaMinWidthDesktop
    display: none
    &__block
      display: none

  &__link
    width: 100%
    display: block
    background: $headerNavColor
    height: 2px
    margin: 2px 0
    border-radius: 1px
    clear: both
    @include transition
  &:hover
    .nav-toggle__link
      background: $headerNavColorHover

.header
  .nav
    &__list
      display: flex
      @include mediaMaxWidthDesktop
        flex-direction: column
    &__item
      padding: 0 11px
      margin-bottom: 0
      @include mediaMaxWidthDesktop
        padding: 0
        &:not(:last-child)
          margin-bottom: 24px
    &__link
.menu-open
  overflow: hidden

/*soc-menu*/
.soc
  ul
    display: flex
    align-items: center
    flex-wrap: wrap
    list-style-type: none
    margin: 0 -10px
    li
      margin: 0 10px
      a
        display: block
/*soc-menu*/