<section id="music" class="section">
    <div class="container">
        <div class="section__header">
            <h1 class="title-text">Музыка</h1>
        </div>
        <div id="tracks-1" class="tracks">
            <div class="track-list">
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-1" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-2" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-3" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-4" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="tracks-2" class="tracks">
            <div class="track-list">
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-1" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-2" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-3" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>
                <div class="track-item">
                    <div class="track-player">
                        <div class="plur-audio">
                            <audio id="player-audio-4" class="track-player__audio" controls>
                                <source src="https://freepd.com/music/Beat%20Thee.mp3" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>