<section class="section">
    <div class="container">
        <h2 class="h2">Графики</h2>

        <h3 class="h3">График линии</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-1" class="chart-canvas__container" data-chart-type="line" data-chart-coordinates="js/json/chartData.json"></canvas>
        </div>
        <h3 class="h3">График полосы</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-2" class="chart-canvas__container" data-chart-type="bar" data-chart-coordinates="js/json/chartData.json"></canvas>
        </div>

        <h3 class="h3">График полярная область</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-3" class="chart-canvas__container" data-chart-type="polarArea" data-chart-coordinates="js/json/chartPolarArea.json"></canvas>
        </div>

        <h3 class="h3">График пончик</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-4" class="chart-canvas__container" data-chart-type="doughnut" data-chart-coordinates="js/json/chartPolarArea.json"></canvas>
        </div>

        <h3 class="h3">График пирог</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-5" class="chart-canvas__container" data-chart-type="pie" data-chart-coordinates="js/json/chartPolarArea.json"></canvas>

        <h3 class="h3">График паутинка</h3>
        <div class="chart-canvas">
            <canvas id="canvas__Chart-6" class="chart-canvas__container" data-chart-type="radar" data-chart-coordinates="js/json/chartData2.json"></canvas>
        </div>
    </div>
</section>