<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col col_4 col_middle-desktop-12">
                    <div class="logo">
                        <a href="index.html" class="logo__link">
                            <span>КОМП’ЮТЕРНА</span> ДОПОМОГА
                        </a>
                    </div>
                </div>
                <div class="col col_6 col_middle-desktop-12">
                    <div class="footer-info">
                        <div class="contact-info">
                            <ul>
                                <li>Адреса</li>
                                <li>
                                    <a href="tel:380000000000">Номер телефону</a>
                                </li>
                                <li>
                                    <span class="icon email">
                                        <img src="/images/icon-email.png" alt="icon-email" title="icon-email">
                                    </span>
                                    <a href="mailto:pchelpkiev@etlgr.com">pchelpkiev@etlgr.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col_2 col_middle-desktop-12">
                    <div class="soc">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/images/fb.png" alt="fb" title="fb">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/images/insta.png" alt="insta" title="insta">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <span class="copyright">2023, All rights reserved | Made by OniStudio</span>
        </div>
    </div>
</footer>