<header id="header" class="header-sticky header">
    <div class="header-container header-sticky__inner">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="index.html" class="logo__link">
                    <img src="images/logo.png" alt="logo"/>
                </a>
            </div>
            <div class="nav-toggle">
                <span class="nav-toggle__link"></span>
                <span class="nav-toggle__link"></span>
                <span class="nav-toggle__link"></span>
            </div>
            <div class="header-mobile">
                <div class="header-mobile__block">
                    <div class="header-mobile__container">
                        <div class="nav-toggle">
                            <svg class="icon-svg" width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9999 18.8997L9.39322 8.29297L7.979 9.70718L18.5857 20.3139L7.97916 30.9204L9.39337 32.3346L19.9999 21.7281L30.6064 32.3346L32.0206 30.9204L21.4141 20.3139L32.0208 9.70721L30.6066 8.29299L19.9999 18.8997Z"/>
                            </svg>
                        </div>
                        <div class="header-mobile__rows">
                            <div class="header-nav">
                                <div class="header-nav__container">
                                    <div class="header-nav__menu">
                                        <nav class="nav">
                                            <ul class="nav-list nav__list">
                                                <li class="nav__item"><a href="#" class="nav__link">Пункт меню</a></li>
                                                <li class="nav__item"><a href="#" class="nav__link">Пункт меню</a></li>
                                                <li class="nav__item dropdown">
                                                    <a class="nav__link" href="#">
                                                        Пункт меню
                                                    </a>
                                                    <i class="dropdown__icon"></i>
                                                    <ul class="dropdown__list">
                                                        <li class="dropdown__item"><a class="dropdown__link" href="#">Пункт меню</a></li>
                                                        <li class="dropdown__item"><a class="dropdown__link" href="#">Пункт меню</a></li>
                                                        <li class="dropdown__item"><a class="dropdown__link" href="#">Пункт меню</a></li>
                                                        <li class="dropdown__item"><a class="dropdown__link" href="#">Пункт меню</a></li>
                                                    </ul>
                                                </li>
                                                <li class="nav__item"><a href="#" class="nav__link">Пункт меню</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="header-mobile__col">

                                <nav class="soc-menu">
                                    <ul>
                                        <li><a href="#">instagram</a></li>
                                        <li><a href="#">facebook</a></li>
                                        <li><a href="#">twitter</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- //container -->
    </div>
</header><!-- //site-header -->