<header id="header" class="header-sticky header">
    <div class="header-container header-sticky__inner">
        <div class="container">
            <!-- logo -->
            <div class="logo">
                <a href="index.html" class="logo__link">
                    <span>КОМП’ЮТЕРНА</span> ДОПОМОГА
                </a>
            </div>

            <div class="header-mobile">
                <div class="header-mobile__block">
                    <div class="header-nav">
                        <div class="header-nav__container">
                            <div class="header-nav__menu">
                                <nav class="nav">
                                    <ul class="nav-list nav__list">
                                        <li class="nav__item nav-item"><a href="#services" class="nav__link nav-link">Послуги</a></li>
                                        <li class="nav__item nav-item"><a href="#about" class="nav__link nav-link">Про нас</a></li>
                                        <li class="nav__item nav-item"><a href="#footer" class="nav__link nav-link">Контакти</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-info__container">

                <div class="header-info__block display-none display-middle-desktop-block">
                    <a href="tel:0670000000" class="btn"><i class="fa fa-phone" aria-hidden="true"></i> <span>+380670000000</span></a>
                </div>
                <div class="header-info__block ">
                    <a href="#" class="btn popup-init" data-popupname="location-popup"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Безкоштовна консультація</span></a>
                </div>
                <div class="header-info__block display-none display-middle-desktop-block">
                    <div class="nav-toggle">
                    <span class="nav-toggle__link"></span>
                    <span class="nav-toggle__link"></span>
                    <span class="nav-toggle__link"></span>
                    <span class="nav-toggle__link"></span>
                </div>
                </div>
            </div>

        </div><!-- //container -->
    </div>
</header><!-- //site-header -->