<meta charset="utf-8">
<title>Базовый маркап</title>
<meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=0">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="css/libs.min.css"/><!-- library styles -->
<link rel="stylesheet" href="css/main.css"/><!-- custom styles -->
<link href="images/favicon.webp" rel="shortcut icon" type="image/x-icon" /><!-- favicon -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">