<section id="map">
    <div class="section__header">
        <div class="container">
            <h1 class="title-text">Google maps</h1>
        </div>
    </div>
    <div class="container">
        <h2 class="h2">Google maps координаты по адресу</h2>
        <div id="map-1" class="map-container" data-address='New York'></div>
        <h2 class="h2">Google maps координаты по координатам</h2>
        <div id="map-2" class="map-container" data-map-lat="41.881832" data-map-lng="-87.623177"></div>
        <h2 class="h2">Google maps координаты по координатам. Блок с фильтром типов здании.</h2>
        <h4 class="h4">Подробнее с типом заданий смотри в <a href="https://developers.google.com/maps/documentation/places/web-service/supported_types" target="_blank">тут</a></h4>
        <div id="map-place-1" class="map-place__container">
            <div class="row ">
                <div class="col col_9 col_mob-12">
                    <div id="map-3" class="map-place__map map-container" data-map-lat="41.881832" data-map-lng="-87.623177"></div>
                </div>

                <div class="col col_3 col_mob-12">
                    <div id="plase-list-1" class="map-place__filter">
                        <ul>
                            <li><a href="#" data-markers="restaurant">Restaurants</a></li>
                            <li><a href="#" data-markers="school">Schools</a></li>
                            <li><a href="#" data-markers="park">Parks</a></li>
                            <li class="active"><a href="#" data-markers="food">Food</a></li>
                            <li><a href="#" data-markers="stadium">Sport</a></li>
                            <li><a href="#" data-markers="gym">Fitness</a></li>
                            <li><a href="#" data-markers="room">Room</a></li>
                            <li><a href="#" data-markers="bar">Bar</a></li>
                            <li><a href="#" data-markers="bank">Bank</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="map-place-2" class="map-place__container">
            <div class="row ">
                <div class="col col_9 col_mob-12">
                    <div id="map-5" class="map-place__map map-container" data-map-lat="41.881832" data-map-lng="-87.623177"></div>
                </div>

                <div class="col col_3 col_mob-12">
                    <div id="plase-list-2" class="map-place__filter">

                        <ul>
                            <li><a href="#" data-markers="restaurant">Restaurants</a></li>
                            <li><a href="#" data-markers="school">Schools</a></li>
                            <li><a href="#" data-markers="park">Parks</a></li>
                            <li class="active"><a href="#" data-markers="food">Food</a></li>
                            <li><a href="#" data-markers="stadium">Sport</a></li>
                            <li><a href="#" data-markers="gym">Fitness</a></li>
                            <li><a href="#" data-markers="room">Room</a></li>
                            <li><a href="#" data-markers="bar">Bar</a></li>
                            <li><a href="#" data-markers="bank">Bank</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div id="map-search-1" class="map-search__container">
            <input id="map-search__input-1" type="text" class="map-search__input">
            <div id="map-4" class="map-search__map map-container" data-map-lat="41.881832" data-map-lng="-87.623177"></div>
        </div>
        <div id="map-search-2" class="map-search__container">
            <input id="map-search__input-2" type="text" class="map-search__input">
            <div id="map-6" class="map-search__map map-container" data-address='New York'></div>
        </div>
        <h2 class="h2">Marker Clusterer</h2>
        <div id="map-7" class="map-container map-markerclusterer" data-map-lat="-28.024" data-map-lng="140.887"></div>
    </div>
</section>