<section id="video-content" class="section">
    <div class="container">
        <div class="section__header">
            <h1 class="title-text">Видео</h1>
        </div>
        <div class="section__content">
            <div class="row">
                <div class="col col_12">
                    <h2>Подключение видео через тэг video</h2>
                    <div class="video-container margin-bottom-40 margin-mob-bottom-24">
                        <video id="player-1" class="video-block" playsinline controls>
                            <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
                            <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>


                <!--<div class="col col_6 col_mob-12">
                    <h2>Подключение YouTube видео через iframe</h2>
                    <div class="video-container margin-bottom-40 margin-mob-bottom-24">
                        <div id="player-4" class="video-block">
                            <iframe
                                    src="https://www.youtube.com/embed/F2ANFPMxQJA?controls=0"
                                    allowfullscreen
                                    allowtransparency
                                    allow="autoplay"
                            ></iframe>
                        </div>
                    </div>
                </div>
                <div class="col col_6 col_mob-12">
                    <h2>Подключение YouTube видео через id-ключ</h2>
                    <div class="video-container margin-bottom-40 margin-mob-bottom-24">
                        <div id="player-3" class="video-block" data-plyr-provider="youtube" data-plyr-embed-id="e-xToC9wNl0"></div>
                    </div>
                </div>-->

            </div>

        </div>
    </div>
</section>