<div class="popup popup-tiny location-popup">
    <button type="button" class="btn icon-block btn-icon popup-remove">
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.1265 18.1872C17.4194 18.4801 17.8943 18.4801 18.1872 18.1872C18.4801 17.8943 18.4801 17.4194 18.1872 17.1265L13.0607 12L18.1872 6.87347C18.4801 6.58058 18.4801 6.10571 18.1872 5.81281C17.8943 5.51992 17.4194 5.51992 17.1265 5.81281L12 10.9393L6.87347 5.81281C6.58058 5.51992 6.10571 5.51992 5.81281 5.81281C5.51992 6.1057 5.51992 6.58058 5.81281 6.87347L10.9393 12L5.81281 17.1265C5.51992 17.4194 5.51992 17.8943 5.81281 18.1872C6.10571 18.4801 6.58058 18.4801 6.87347 18.1872L12 13.0607L17.1265 18.1872Z"/>
        </svg>
    </button>
    <div class="popup-content">
        <div class="wysiwyg text-center">
            <h4>Безкоштовна консультація</h4>
            <p>Заповніть форму для консультації зі спеціалістом</p>
        </div>
        <form action="post" class="form" id="form-1">
            <fieldset>
                <div class="row">
                    <div class="col col_12">
                        <div class="form-field">
                            <label class="label-wrap">
                                <input
                                        type="text"
                                        placeholder="Ім’я"
                                        class="form-input form-control"
                                        name="user-name"
                                        id="user-name"
                                        required
                                />
                            </label>
                        </div><!-- //form-field -->
                    </div>
                    <div class="col col_12">
                        <div class="form-field">
                            <label class="label-wrap">
                                <input
                                        type="text"
                                        placeholder="Номер телефону"
                                        class="form-input form-control phone_mask"
                                        name="tel-1"
                                        id="tel-1"
                                        required
                                />
                            </label>
                        </div><!-- //form-field -->
                    </div>
                    <div class="col col_12">
                        <div class="form-field">
                            <label class="label-wrap">
                                <textarea name="" placeholder="Опишіть Вашу проблему"></textarea>
                            </label>
                        </div><!-- //form-field -->
                    </div>
                    <div class="col col_12">
                        <button type="submit" class="btn">Відправити</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>