$slider-nav-color: $colorPrimaryDark
$slider-nav-color-active: $colorTertiary
.slider
  width: 100%
  &-container
  &-item
    &__img
      img
        width: 100%
  &.full-screen
    height: 100vh
    .slider
      &-item
        &__img
          img
            height: 100%
  &-nav
    display: flex
    align-items: center
    justify-content: center
    &__container
    &-btn
      position: static
      width: 56px
      height: 56px
      top: 0
      margin-top: 0
      background-color: $colorSecondary
      border-radius: 50%
      @include transition
      margin: 0 10px
      .icon
        width: 27px
        height: 8px
        fill: $slider-nav-color
        @include transition
      &:after
        display: none
      &:hover
        background-color: $colorPrimary
        .icon
          fill: $slider-nav-color-active
      &-next
        right: 0
      &-prev
        left: 0